.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.jobTitle {
  flex: 1;
}

.jobTitle h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.jobTitle p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.jobTypeAndSalary {
  text-align: right;
  font-size: 1rem;
  color: #333;
}

.tags {
  margin-top: 10px;
}

.tag {
  background-color: #9b4de7; /* Purple color */
  color: white;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 0.875rem;
  margin-right: 8px;
}

.separator {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.jobMessage {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
