.filterContainer {
  font-family: sans-serif;
  background-color: transparent;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.filterSection {
  margin-bottom: 1.25rem;
}

.filterSectionTitle {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-text-primary);
}

.filterLabel {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.95rem;
  color: var(--color-text-primary);
}

.checkbox {
  margin-right: 0.5rem;
  transform: scale(1.1);
}

.rangeInput {
  width: 100%;
  margin-top: 0.25rem;
}

.rangeValue {
  font-size: 0.9rem;
  margin-top: 0.25rem;
  color: var(--color-accent);
}

.title {
  color: var(--color-text-primary)
}