:root {
    --background: #ffb0b0;
    --foreground: #171717;
    --color-text-primary: #000;
    --color-primary: #3b82f6;
    --color-title-navbar: #3b82f6;
    --color-title-navbar-hover:#00c3ff;
    --color-text-navbar: #fff;
    --color-text-navbar-hover: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-text-primary: #000;
    --color-title-navbar: #00ffc8;
    --color-title-navbar-hover:#007058;
    --color-text-navbar: #fff;
    --color-text-navbar-hover: #00ffc8;
  }
}

/* global.css */

/* Reset and base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

/* Main container to split navbar and wrapper */
#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Navbar takes 5% of the vertical space */
.navbar {
  height: 5%;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper for the page content */
.wrapper {
  height: 95%;
  width: 100%;
  overflow: hidden; /* Prevent any content overflow */
  background-color: #ffffff;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
